<div id="popup" style="display: none">
  <div class="popup_area" >
    <div class="popup_title">
      <h2>카테고리 설정</h2>
      <button class="close_btn">
        <img src="/assets/close_icon.png" alt="닫기" />
      </button>
    </div>
    <div class="popup_content">
      <div class="category_select">
      </div>

      <div class="category_con">
        <button>전체</button>              
      </div>

      <div class="btn_area">
        <button class="add_btn">설정</button>
        <button class="cancel_btn">취소</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/popup/category.js"></script>