<div id="side_menu">
  <div class="side_page">
    <div class="gnb_tit">
      <h2>PLATFOTM</h2>
    </div>
    <ul class="gnb">
      <li>
        <a href="#">
          <div class="icon_con"><img src="/assets/side_icon_11.png" alt="기관" /></div>
          기관
        </a>
      </li>
      <li>
        <a href="/community/4">
          <div class="icon_con"><img src="/assets/side_icon_02.png" alt="커뮤니티" /></div>
          커뮤니티
        </a>
      </li>
      <li>
        <a href="#">
          <div class="icon_con"><img src="/assets/side_icon_04.png" alt="프로젝트" /></div>
          프로젝트
        </a>
      </li>
      <li>
        <a href="#">
          <div class="icon_con"><img src="/assets/side_icon_03.png" alt="개인" /></div>
          개인
        </a>
      </li>
    </ul>
  </div>
  <div class="side_interest">
    <div class="gnb_tit">
      <h2>MY</h2>
    </div>
    <ul>
      <li>
        <a href="#">
          <div class="icon_con"><img src="/assets/side_icon_05.png" alt="구독" /></div>
          구독
        </a>
      </li>
      <li>
        <a href="#">
          <div class="icon_con"><img src="/assets/side_icon_06.png" alt="즐겨찾기" /></div>
          즐겨찾기
        </a>
      </li>
      <li>
        <a href="#">
          <div class="icon_con"><img src="/assets/side_icon_07.png" alt="스크랩" /></div>
          스크랩
        </a>
      </li>
      <li>
        <a href="#">
          <div class="icon_con"><img src="/assets/side_icon_08.png" alt="내메세지함" /></div>
          내 메세지함
        </a>
      </li>
    </ul>
  </div>
  <!-- <div class="side_setting">
    <ul>
      <li>
        <a href="#">
          <div class="icon_con"><img src="/assets/side_icon_09.png" alt="Setting" /></div>
          Setting
        </a>
      </li>
      <li>
        <a href="#">
          <div class="icon_con"><img src="/assets/side_icon_10.png" alt="Logout" /></div>
          Log out
        </a>
      </li>
    </ul>
  </div> -->
</div>
