<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include(`${rootPath}/javascript.ejs`) %>
    <link rel="stylesheet" href="/css/common.css" />
    
    <title>오픈소스 커뮤니티</title>
  </head>
  <body>
    <div id="wrap">
      <%- include (`${rootPath}/components/header.ejs`) %>
      <div id="main">
        <%- include (`${rootPath}/components/side-menu.ejs`) %>
      </div>
    </div>
  </body>
</html>
